/* static/css/style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

/* Styles for the specific form with id "weatherForm" */
#weatherForm {
    background-color: #ee0a0a;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
}

p {
    margin: 10px 0;
}
