body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(14,20,51,1) 100%);
    color: #3faa88;
}

.about {
    margin-left: 10px;
    margin-top: 100px;
}

.dashboard {
    margin-top: 170px;
}

.center-div-login {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px; /* Adjust the margin based on your layout */
    max-width: 200px;
}

.center-div-register {
    margin: 0 auto;
    text-align: center;
    margin-top: 150px; /* Adjust the margin based on your layout */
    max-width: 200px;
}

.chat-form {
    margin: 0 auto;
    margin-top: 250px;
    max-width: 200px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

button img {
    width: 35px;
}

button:hover {
    background-color: #45a049;
}

button {
    background-color: #ffffff6b;
    border-radius: 10px;
}

.weather-info-table {
    width: 100%;
}

.forecast-table {
    color: #fff;
    border-collapse: collapse;
}

.forecast-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.forecast-table th {
    border: 1px solid #ddd;
}

.forecast-table img {
    width: 30px;
    height: 30px;
}

.error-message {
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
}

.content-about img {
    margin-left: 10px; /* Add margin between the icon and text */
    width: 25px;
}

.input-section {
    width: 155px;
    margin: 0 auto;
    text-align: center;
}

.currency-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the cross axis */
    margin-top: 100px;
    color: #3faa88;
}

.currency-form {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;

}

.currency-info {
    flex: 0 0 40%; /* 40% width, don't grow or shrink */
    margin-left: 5%;  /* Adjust margin as needed */
}

.currency-choices script{
    color: #3faa88; /* You can adjust the color as needed */
}

.currency-choices p {
    color: #3faa88;
}

.currency-result {
    bottom: 0;
    left: 0;
    width: 100%;
    color: #f9540dd5;
    padding: 10px;
    text-align: center;
}

.center-div-main {
    text-align: center;
    margin-top: 500px;
}

.header-buttons {
    display: flex;
    justify-content: center;
}

.header-buttons a {
    margin-left: 25px; /* Add margin between the icon and text */
    width: 100%;
    text-decoration: none;
}

/* Autocomplete dropdown styling */
.ui-autocomplete {
    background-color: #000000;
    font-size: medium;
    color: #04ba0e;
    max-width: 35%;
    max-height: 150px;
    overflow-y: auto;
    border: 3px solid #ffffff76; /* Add a border for a cleaner look */
}

.ui-menu-item {
    padding: 8px;
    cursor: pointer;
    /* Add other styling properties as needed */
}

.ui-menu-item:hover {
    background-color: #e32c2c74; /* Change the background color on hover */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-chat {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%;
}

.message-box {
    margin: 0 auto;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}
