body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(14,20,51,1) 100%);
}

.about {
    margin-left: 10px;
    margin-top: 100px;
}

.dashboard {
    margin-top: 300px;
}

.center-div-login {
    text-align: center;
    margin-top: 100px;
}

.center-div-login input{
    height: 22px;
    margin: 10px;
}

.center-div-register {
    text-align: center;
    margin-top: 100px;
}

.center-div-register input {
    height: 22px;
    margin: 10px;
}

.chat-form {
    margin: 0 auto;
    margin-top: 250px;
    max-width: 200px;
}

label {
    display: block;
}

.chat-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.chat-input input{
    height: 22px;
    width: 100%;
    margin-bottom: 10px;

}

button img {
    width: 100%;
    vertical-align: middle;
}

button {
    width: 50px;
    height: 50px;
    background-color: #ffffffa4;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
       background-color: #ffffff;
       transform: scale(1.1); /* You can adjust the scaling factor as needed */
       transition: transform 0.3s ease; /* Optional: Add a smooth transition effect */
}
.weather-container {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the cross axis */
}

.weather-info-table {
    margin-left: 10px;
    width: 60%;
}

.weather-info-table p {
    margin-left: 5px 
}

.weather-info-table table {
    border: 1px solid #ddd;
    text-align: center;
    width: 100%;
}

.forecast-table {
    border-collapse: collapse;
    width: 100%;
}

.forecast-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.forecast-table th {
    border: 1px solid #ddd;
}

.error-message {
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.content-about img {
    margin-left: 10px; /* Add margin between the icon and text */
    width: 25px;
}

.input-section {
    width: 40%;
    text-align: center;
}

.input-section input {
    max-width: 135px;
    margin: 10px;
}

.currency-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the cross axis */
    margin-top: 100px;
}

.currency-form {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

.currency-form input{
    height: 22px;
    margin: 10px;
}

.currency-info {
    flex: 0 0 40%; /* 40% width, don't grow or shrink */
    margin-left: 5%;  /* Adjust margin as needed */
}

.currency-choices script{
    color: #3faa88; /* You can adjust the color as needed */
}

.currency-choices p {
    color: #3faa88;
}

.currency-result {
    padding: 10px;
    text-align: center;
}

.center-div-main {
    text-align: center;
    margin-top: 500px;
}

.header-buttons {
    display: flex;
    justify-content: center;
}

.header-buttons a {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    display: inline-block;
}

/* Autocomplete dropdown styling */
.ui-autocomplete {
    background-color: #ffffff;
    font-size: medium;
    max-width: 35%;
    max-height: 150px;
    overflow-y: auto;
    border: 3px solid #ffffff76; /* Add a border for a cleaner look */
}

.ui-menu-item {
    padding: 8px;
    cursor: pointer;
    /* Add other styling properties as needed */
}

.ui-menu-item:hover {
    background-color: #00000049; /* Change the background color on hover */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-chat {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%;
}

.message-box {
    background-color: #0063ff36;
    margin: 0 auto;
    padding: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text span {
    display: block; /* Display each span on a new line */
    overflow-wrap: break-word; /* Wrap long words within the span */
    margin-left: 10px;
    margin-right: 10px;
}

.text strong {
    margin-left: 5px;
}
.muted {
    font-size: 7px;
}

.left {
    text-align: left;
    background-color: rgb(16 229 247 / 55%);
    margin-bottom: 3px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 40px;
    max-width: 60%;
}

.right {
    margin-left: auto;
    margin-right: 5px;
    background-color: rgb(218 0 255 / 55%);
    margin-bottom: 3px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 60%;
    
}

.temperature-unit-radio label {
    display: inline;
    margin-left: 10px
}

.weather-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alarm-clock {
    text-align: center;
    font-family: fantasy;
    font-size: 1.5rem;
    color: #ffffffe3;
}

.weather-condition {
    margin-left: 5px;
    text-wrap: balance;
}

.weather-condition img{
    width: 50px;
}

.thermometer {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.mercury {
    margin-left: 35%;
    width: 30%;
    background-color: #ff0000;
    position: absolute;
    bottom: 0px;
    transition: height 0.5s ease-in-out;
}

.feelslike {
    margin-left: 35%;
    width: 30%;
    background-color: #fefe0d77;
    position: absolute;
    bottom: 0px;
    transition: height 0.5s ease-in-out;
}

.temperature-value {
    transform: translateX(-50%);
    font-size: 16px;
}

.feel-value {
    transform: translateX(-50%);
    font-size: 16px;
}

.weather-location {
    text-align: center;
    font-size: 25px;
}

.examples {
    font-size: 10px;
    color: white;
}