body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbd9d0;
}

.center-div {
    text-align: center;
    margin-top: 150px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.body-container {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}

.weather-info {
    flex: 0 0 25%; /* 30% width, don't grow or shrink */
    margin-right: 10px;  /*Adjust margin as needed */
}

.forecast-table-container {
    flex: 0 0 70%; /* 70% width, don't grow or shrink */
}


.forecast-table {
    width: 100%;
    border-collapse: collapse;
}

.forecast-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.forecast-table th {
    background-color: #3498db;
    color: #fff;
}

.forecast-table img {
    width: 30px;
    height: 30px;
}

.error-message {
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
}

/* Add your existing styles */

.connect-text {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
    font-size: 16px;
}

.connect-text a {
    text-decoration: none;
    color: #333; /* Adjust color as needed */
}

.connect-text img {
    font-size: 20px; /* Adjust icon size as needed */
    margin-left: 10px; /* Add margin between the icon and text */
    width: 30px;
}

.connect-text button {
    /* Add any additional styling for your button */
}

.header-pages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b8b5a3; /* Change the background color to your preference */
    padding: 5px; /* Adjust padding as needed for spacing */
    text-align: left; /* Center the buttons horizontally */
}

.header-pages a {
    text-decoration: none;
    color: #fff; /* Change the text color to your preference */
    margin: 10px; /* Add margin between buttons */
}

.header-pages button {
    font-size: 16px; /* Adjust button font size */
}

.input-field {
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    background-color: #335; /* Change the background color to your preference */
    padding: 20px; /* Adjust padding as needed for spacing */
    text-align: center; /* Center the buttons horizontally */
    font-size: 16px;
}

.input-field button {
    font-size: 10px; /* Adjust button font size */
    width: 50px;
}


.currency-form {
    top: 200px;
    left: 0px;
    width: 100%;
    background-color: #868fd5; /* Change the background color to your preference */
    padding: 50px; /* Adjust padding as needed for spacing */
    text-align: left; /* Center the buttons horizontally */
    font-size: 16px;
}

.currency-form button {
    font-size: 10px; /* Adjust button font size */
    width: 50px;
}