<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Chat</title>
</head>
<body>
    <div class="header-buttons">
        {% if 'username' in session %}
            <p><a href="{{ url_for('logout') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/logout.svg') }}" alt=logout.svg></button>
                </a>
                <a href="{{ url_for('index') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button>
                </a>
                <a href="{{ url_for('dashboard') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/book-atlas-solid.svg') }}" alt=book-atlas-solid.svg></button>
                </a>
            </p>
        {% else %}
            <p><a href="{{ url_for('login') }}">
                <button><img src="{{ url_for('static', filename='link-icons/login.svg') }}" alt=login.svg></button>
                </a>
                <a href="{{ url_for('register') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/registration.svg') }}" alt=registration.svg></button>
                </a>
                <a href="{{ url_for('about') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/info.svg') }}" alt=info.svg></button></a>
                <a href="{{ url_for('index') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button></a>
            </p>
        {% endif %}
    </div>
<form method="post" class="chat-form">
        <h3>Enter The Chat Room</h3>
        {% if 'username' in session %}
            <label>Name: {{ name|capitalize }}</label>
            <div class="join">
                <input type="text" placeholder="Room Code" name="code" value="{{ code }}"/>
                <button type="submit" name="join">Join a Room</button>
            </div>
            <button type="submit" name="create" class="create-btn">Create a Room</button>
        {% else %}
        <label>You need to login</label>
        {% endif %}
        {% if error %}
            <ul>
                <li>{{ error }}</li>
            </ul>
        {% endif %}
    </form>
</body>
</html>