<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add jQuery and jQuery UI scripts -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Currency Converter</title>
</head>

<body>
<h2>Currency</h2>
<div class="header-pages">
{% if 'username' in session %}
    <p><a href="{{ url_for('logout') }}"><button>
            <img src="{{ url_for('static', filename='link-icons/logout.svg') }}" alt=logout.svg></button>
        </a>
        <a href="{{ url_for('index') }}"><button>
            <img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button>
        </a>
        <a href="{{ url_for('dashboard') }}"><button>Dashboard</button></a>
{% else %}
    <p><a href="{{ url_for('login') }}"><button>
            <img src="{{ url_for('static', filename='link-icons/login.svg') }}" alt=login.svg></button>
        </a>
        <a href="{{ url_for('register') }}"><button>Register</button></a>
        <a href="{{ url_for('about') }}"><button>About</button></a>
        <a href="{{ url_for('index') }}"><button>
                <img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button>
            </a>
{% endif %}
</div>
<div class="currency-form">
    <p>Available 150 currency market options</p>
    <p>Start typing currency Key (ex:"USD")</p>
    <p>You can type country name and choose one of suggested options</p>
    <form id="currencyForm" action="/currency" method="post">
        <label for="user_input_currency_1">Enter currency you want to sell:</label>
        <input type="text" id="user_input_currency_1" name="user_input_currency_1" required>
        <br>
        <label for="user_input_currency_2">Enter currency you want to purchase:</label>
        <input type="text" id="user_input_currency_2" name="user_input_currency_2" required>
        <br>
        <label for="user_input_amount">Enter amount:</label>
        <input type="text" id="user_input_amount" name="user_input_amount">
        <button type="submit">Get Value</button>
    </form>
</div>
{% if currency_data %}
<h2>You can sell {{user_input_amount}} {{user_input_currency_1}} for {{ currency_data.amount }}
    {{user_input_currency_2}}</h2>
<p>Result showing "sell" (less) value from the currency market</p>
{% endif %}

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<script>
      $(function () {
        // Dictionary of currency codes and descriptions
        var currencyData = {
                    "AFN":	"Afghan Afghani",
                    "ALL":	"Albanian Lek",
                    "AMD":	"Armenian Dram",
                    "ANG":	"Netherlands Antillean Guilder",
                    "AOA":	"Angolan Kwanza",
                    "ARS":	"Argentine Peso",
                    "AUD":	"Australian Dollar",
                    "AWG":	"Aruban Florin",
                    "AZN":	"Azerbaijani Manat",
                    "BAM":	"Bosnia & Herzegovina Convertible Mark",
                    "BBD":	"Barbadian Dollar",
                    "BDT":	"Bangladeshi Taka",
                    "BGN":	"Bulgarian Lev",
                    "BHD":	"Bahraini Dinar",
                    "BIF":	"Burundian Franc",
                    "BMD":	"Bermudian Dollar",
                    "BND":	"Brunei Dollar",
                    "BOB":	"Bolivian Boliviano",
                    "BRL":	"Brazilian Real",
                    "BSD":	"Bahamian Dollar",
                    "BTN":	"Bhutanese Ngultrum",
                    "BWP":	"Botswana Pula",
                    "BYN":	"Belarus Ruble",
                    "BZD":	"Belize Dollar",
                    "CAD":	"Canadian Dollar",
                    "CDF":	"Congolese Franc",
                    "CHF":	"Swiss Franc",
                    "CLP":	"Chilean Peso",
                    "CNY":	"Chinese Yuan",
                    "COP":	"Colombian Peso",
                    "CRC":	"Costa Rican Colon",
                    "CUC":	"Cuban Convertible Peso",
                    "CVE":	"Cape Verdean Escudo",
                    "CZK":	"Czech Republic Koruna",
                    "DJF":	"Djiboutian Franc",
                    "DKK":	"Danish Krone",
                    "DOP":  "Dominican Peso",
                    "DZD":	"Algerian Dinar",
                    "EGP":	"Egyptian Pound",
                    "ERN":	"Eritrean Nakfa",
                    "ETB":	"Ethiopian Birr",
                    "EUR":	"Euro",
                    "FJD":	"Fiji Dollar",
                    "GBP":	"British Pound Sterling",
                    "GEL":	"Georgian Lari",
                    "GHS":	"Ghanaian Cedi",
                    "GIP":	"Gibraltar Pound",
                    "GMD":	"Gambian Dalasi",
                    "GNF":	"Guinea Franc",
                    "GTQ":	"Guatemalan Quetzal",
                    "GYD":	"Guyanaese Dollar",
                    "HKD":	"Hong Kong Dollar",
                    "HNL":	"Honduran Lempira",
                    "HRK":	"Croatian Kuna",
                    "HTG":	"Haiti Gourde",
                    "HUF":	"Hungarian Forint",
                    "IDR":	"Indonesian Rupiah",
                    "ILS":	"Israeli Shekel",
                    "INR":	"Indian Rupee",
                    "IQD":	"Iraqi Dinar",
                    "IRR":	"Iranian Rial",
                    "ISK":	"Icelandic Krona",
                    "JMD":	"Jamaican Dollar",
                    "JOD":	"Jordanian Dinar",
                    "JPY":	"Japanese Yen",
                    "KES":	"Kenyan Shilling",
                    "KGS":	"Kyrgystani Som",
                    "KHR":	"Cambodian Riel",
                    "KMF":	"Comorian Franc",
                    "KPW":	"North Korean Won",
                    "KRW":	"South Korean Won",
                    "KWD":	"Kuwaiti Dinar",
                    "KYD":	"Cayman Islands Dollar",
                    "KZT":	"Kazakhstan Tenge",
                    "LAK":	"Laotian Kip",
                    "LBP":	"Lebanese Pound",
                    "LKR":	"Sri Lankan Rupee",
                    "LRD":	"Liberian Dollar",
                    "LSL":	"Lesotho Loti",
                    "LYD":	"Libyan Dinar",
                    "MAD":	"Moroccan Dirham",
                    "MDL":	"Moldovan Leu",
                    "MGA":	"Malagasy Ariary",
                    "MKD":	"Macedonian Denar",
                    "MMK":	"Myanma Kyat",
                    "MNT":	"Mongolian Tugrik",
                    "MOP":	"Macau Pataca",
                    "MRO":	"Mauritanian Ouguiya",
                    "MUR":	"Mauritian Rupee",
                    "MVR":	"Maldivian Rufiyaa",
                    "MWK":	"Malawi Kwacha",
                    "MXN":	"Mexican Peso",
                    "MYR":	"Malaysian Ringgit",
                    "MZN":	"Mozambican Metical",
                    "NAD":	"Namibian Dollar",
                    "NGN":	"Nigerian Naira",
                    "NIO":	"Nicaragua Cordoba",
                    "NOK":	"Norwegian Krone",
                    "NPR":	"Nepalese Rupee",
                    "NZD":	"New Zealand Dollar",
                    "OMR":	"Omani Rial",
                    "PAB":	"Panamanian Balboa",
                    "PEN":	"Peruvian Nuevo Sol",
                    "PGK":	"Papua New Guinean Kina",
                    "PHP":	"Philippine Peso",
                    "PKR":	"Pakistani Rupee",
                    "PLN":	"Polish Zloty",
                    "PYG":	"Paraguayan Guarani",
                    "QAR":	"Qatari Riyal",
                    "RON":	"Romanian Leu",
                    "RSD":	"Serbian Dinar",
                    "RUB":	"Russian Ruble",
                    "RWF":	"Rwanda Franc",
                    "SAR":	"Saudi Riyal",
                    "SBD":	"Solomon Islands Dollar",
                    "SCR":	"Seychellois Rupee",
                    "SDG":	"Sudanese Pound",
                    "SEK":	"Swedish Krona",
                    "SGD":	"Singapore Dollar",
                    "SHP":	"Saint Helena Pound",
                    "SLL":	"Sierra Leonean Leone",
                    "SOS":	"Somali Shilling",
                    "SRD":	"Surinamese Dollar",
                    "SSP":	"South Sudanese Pound",
                    "STD":	"Sao Tome and Principe Dobra",
                    "SYP":	"Syrian Pound",
                    "SZL":	"Swazi Lilangeni",
                    "THB":	"Thai Baht",
                    "TJS":	"Tajikistan Somoni",
                    "TMT":	"Turkmenistani Manat",
                    "TND":	"Tunisian Dinar",
                    "TOP":	"Tonga Paanga",
                    "TRY":	"Turkish Lira",
                    "TTD":	"Trinidad and Tobago Dollar",
                    "TWD":	"New Taiwan Dollar",
                    "TZS":	"Tanzanian Shilling",
                    "UAH":	"Ukrainian Hryvnia",
                    "UGX":	"Ugandan Shilling",
                    "USD":	"United States Dollar",
                    "UYU":	"Uruguayan Peso",
                    "UZS":	"Uzbekistan Som",
                    "VEF":	"Venezuelan Bolivar",
                    "VND":	"Vietnamese Dong",
                    "VUV":	"Vanuatu Vatu",
                    "WST":	"Samoan Tala",
                    "XAF":	"Central African CFA franc",
                    "XCD":	"East Caribbean Dollar",
                    "XOF":	"West African CFA franc",
                    "XPF":	"CFP Franc",
                    "YER":	"Yemeni Rial",
                    "ZAR":	"South African Rand",
                    "ZMW":	"Zambian Kwacha"
        };

        // Array of example currencies for suggestions
        var currencies = Object.keys(currencyData);

        // Apply autocomplete to the currency input fields
        $("#user_input_currency_1, #user_input_currency_2").autocomplete({
          source: function (request, response) {
            var term = request.term.toLowerCase();
            var filteredCurrencies = $.grep(currencies, function (currency) {
              return currency.toLowerCase().indexOf(term) > -1 || currencyData[currency].toLowerCase().indexOf(term) > -1;
            });

            response(filteredCurrencies.map(function (currency) {
              return {
                label: currency + " - " + currencyData[currency],
                value: currency
              };
            }));
          },
          minLength: 1
        });
      });

</script>
</body>
</html>
