<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <p><a href="{{ url_for('logout') }}"><button>Logout</button></a>
        <a href="{{ url_for('weather') }}"><button>Weather</button></a>
        <a href="{{ url_for('currency') }}"><button>Currency</button></a></p>

    <div class="center-div">
        <h2>Welcome, {{ username }}!</h2>
        <p>Dashboard content goes here.</p>
    </div>
</body>

</html>
