<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <div class="header-buttons">
    {% if 'username' in session %}
        <p><a href="{{ url_for('logout') }}">
            <button><img src="{{ url_for('static', filename='link-icons/logout.svg') }}" alt=logout.svg></button>
            </a>
            <a href="{{ url_for('index') }}">
                <button><img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button>
            </a>
            <a href="{{ url_for('about') }}">
                <button><img src="{{ url_for('static', filename='link-icons/info.svg') }}" alt=info.svg></button>
            </a>
            <a href="{{ url_for('weather') }}">
                <button><img src="{{ url_for('static', filename='link-icons/weather.svg') }}" alt=weather.svg></button>
            </a>
            <a href="{{ url_for('currency') }}">
                <button><img src="{{ url_for('static', filename='link-icons/coins-solid.svg') }}" alt=coins-solid.svg></button>
            </a>
            <a href="{{ url_for('chat') }}">
                <button><img src="{{ url_for('static', filename='link-icons/message-solid.svg') }}" alt=message-solid.svg></button>
            </a>
        </p>
    {% else %}
        <p><a href="{{ url_for('login') }}"><button>
                <img src="{{ url_for('static', filename='link-icons/login.svg') }}" alt=login.svg></button>
            </a>
            <a href="{{ url_for('register') }}">
                <button><img src="{{ url_for('static', filename='link-icons/registration.svg') }}" alt=registration.svg></button>
            </a>
            <a href="{{ url_for('about') }}">
                <button><img src="{{ url_for('static', filename='link-icons/info.svg') }}" alt=info.svg></button>
            </a>
            <a href="{{ url_for('index') }}"><button>
                <img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button>
            </a>
        </p>
    {% endif %}
    </div>
    <div class="dashboard">
        <h2>Welcome, {{ username }}!</h2>
    </div>
    <p>Dashboard content goes here.</p>

</body>

</html>
