<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Daily Notes</title>
</head>

<body>
    <h2>Main Page</h2>
    {% if 'username' in session %}
        <p><a href="{{ url_for('logout') }}"><button>Logout</button></a>
            <a href="{{ url_for('dashboard') }}"><button>Dashboard</button></a>
            <a href="{{ url_for('about') }}"><button>About</button></a></p>
    {% else %}
        <p><a href="{{ url_for('login') }}"><button>Login</button></a>
            <a href="{{ url_for('register') }}"><button>Register</button></a>
            <a href="{{ url_for('about') }}"><button>About</button></a>
    {% endif %}

    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
    <p class="connect-text">To contribute to the next release, please contact
        <a href="https://www.linkedin.com/in/yaroslav-ovsiienko">
            <img src="{{ url_for('static', filename='link-icons/linkedin.svg') }}" alt=linkedin.svg>
        </a>
    </p>

</body>
</html>
