<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Weather</title>
</head>

<body>
    <div class="header-buttons">
        {% if 'username' in session %}
            <p><a href="{{ url_for('logout') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/logout.svg') }}" alt=logout.svg></button>
                </a>
                <a href="{{ url_for('index') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button>
                </a>
                <a href="{{ url_for('dashboard') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/book-atlas-solid.svg') }}" alt=book-atlas-solid.svg></button>
                </a>
            </p>
        {% else %}
            <p><a href="{{ url_for('login') }}">
                <button><img src="{{ url_for('static', filename='link-icons/login.svg') }}" alt=login.svg></button>
                </a>
                <a href="{{ url_for('register') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/registration.svg') }}" alt=registration.svg></button>
                </a>
                <a href="{{ url_for('about') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/info.svg') }}" alt=info.svg></button></a>
                <a href="{{ url_for('index') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button></a>
            </p>
        {% endif %}
    </div>
    <div class="weather-container">
        <div class="input-section">
            <form id="weatherForm" action="/weather" method="post">
                <label for="user_input"></label>
                <input type="text" id="user_input" name="user_input" placeholder="City Name or Zip Code" required>
                <div class="temperature-unit-radio">
                    <label for="celsius">°C</label>
                    <input type="radio" id="celsius" name="temperature_unit" value="celsius">
        
                    <label for="fahrenheit">°F</label>
                    <input type="radio" id="fahrenheit" name="temperature_unit" value="fahrenheit" checked>
                </div>
                <button type="submit">
                    <img src="{{ url_for('static', filename='link-icons/location.svg') }}" alt=location-solid.svg>
                </button>
            </form>
        </div>
        <div class="weather-info-table">
                    {% set time_of_day = 'Day' if weather_data.current.is_day == 1 else 'Night' %}
                    <p>{{ weather_data.location.name }}, {{ weather_data.location.region }}, {{ weather_data.location.country }}</p>
                    <p>{{ weather_data.location.localtime }} {{ weather_data.current.condition.text }} {{ time_of_day }}</p>
                <table>
                    <thead>
                        <tr>
                            <th>Temp</th>
                            <th>Feels like</th>
                            <th>Wind</th>
                            <th>Pressure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if temperature_unit == 'celsius' %}
                                <td>{{ weather_data.current.temp_c }}°C</td>
                                <td>{{ weather_data.current.feelslike_c }}°C</td>
                                <td>{{ weather_data.current.wind_kph }} km/h</td>
                                <td>{{ weather_data.current.pressure_mb }} mb</td>
                            {% elif temperature_unit == 'fahrenheit' %}
                                <td>{{ weather_data.current.temp_f }}°F</td>
                                <td>{{ weather_data.current.feelslike_f }}°F</td>
                                <td>{{ weather_data.current.wind_mph }} mi/h</td>
                                <td>{{ weather_data.current.pressure_in }} in</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>Visibility</th>
                            <th>Gust</th>
                            <th>Precipitation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if temperature_unit == 'celsius' %}
                                <td>{{ weather_data.current.vis_km }} km</td>
                                <td>{{ weather_data.current.gust_kph }} km/h</td>
                                <td>{{ weather_data.current.precip_mm }} mm</td>
                            {% elif temperature_unit == 'fahrenheit' %}
                                <td>{{ weather_data.current.vis_miles }} mi</td>
                                <td>{{ weather_data.current.gust_mph }} mi/h</td>
                                <td>{{ weather_data.current.precip_in }} in</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                <p>Wind Direction: {{ weather_data.current.wind_dir }}, Humidity: {{ weather_data.current.humidity }}, Cloudy: {{ weather_data.current.cloud }}</p>
        </div>
    </div>    
    <table class="forecast-table">
        <thead>
            <tr>
                <th>Date</th>
                {% if temperature_unit == 'celsius' %}
                    <th>Avg °C</th>
                    <th>Min °C</th>
                    <th>Max °C</th>
                {% elif temperature_unit == 'fahrenheit' %}
                    <th>Avg °F</th>
                    <th>Min °F</th>
                    <th>Max °F</th>
                {% endif %}
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for day in second_api_data.forecast %}
                <tr>
                    <td>{{ day.date }}</td>
                    {% if temperature_unit == 'celsius' %}
                        <td>{{ day.avg_c }}</td>
                        <td>{{ day.min_c }}</td>
                        <td>{{ day.max_c }}</td>
                    {% elif temperature_unit == 'fahrenheit' %}
                    <td>{{ day.avg_f }}</td>
                    <td>{{ day.min_f }}</td>
                    <td>{{ day.max_f }}</td>
                    {% endif %}
                    <td>{{ day.summary }}<img src="{{ url_for('static', filename='weather-icons/' + day.icon) }}" alt=f"{{day.icon}}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}

</body>
</html>

<!---->