<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Weather</title>
</head>

<body>
    <div class="header-background header-buttons">
        {% if 'username' in session %}
            <p><a href="{{ url_for('logout') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/logout.svg') }}" alt=logout.svg></button>
                </a>
                <a href="{{ url_for('index') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button>
                </a>
                <a href="{{ url_for('dashboard') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/book-atlas-solid.svg') }}" alt=book-atlas-solid.svg></button>
                </a>
            </p
        {% else %}
            <p><a href="{{ url_for('login') }}">
                <button><img src="{{ url_for('static', filename='link-icons/login.svg') }}" alt=login.svg></button>
                </a>
                <a href="{{ url_for('register') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/registration.svg') }}" alt=registration.svg></button>
                </a>
                <a href="{{ url_for('about') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/info.svg') }}" alt=info.svg></button></a>
                <a href="{{ url_for('index') }}">
                    <button><img src="{{ url_for('static', filename='link-icons/house-solid.svg') }}" alt=house-solid.svg></button></a>
            </p>
        {% endif %}
    </div>
        <div class="input-section">
            <form id="weatherForm" action="/weather" method="post">
                <label for="user_input"></label>
                <input type="text" id="user_input" name="user_input" placeholder="City Name or Zip Code" required>
                <button type="submit">
                    <img src="{{ url_for('static', filename='link-icons/location.svg') }}" alt=location-solid.svg>
                </button>
            </form>
            {% if weather_data %}
            <div class="weather-info-table">
                {% if second_api_data %}
                    {% set time_of_day = 'Day' if weather_data.current.is_day == 1 else 'Night' %}
                    <p>{{ weather_data.location.localtime }} and {{ weather_data.current.condition.text }} {{ time_of_day }} in 
                        {{ weather_data.location.name }}, {{ weather_data.location.region }}, {{ weather_data.location.country }}</p>
                {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Temp</th>
                            <th>Feels</th>
                            <th>Wind</th>
                            <th>Pressure</th>
                            <th>Visibility</th>
                            <th>Gust</th>
                            <th>Precipitation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ weather_data.current.temp_c }}°C</td>
                            <td>{{ weather_data.current.feelslike_c }}°C</td>
                            <td>{{ weather_data.current.wind_kph }} km/h</td>
                            <td>{{ weather_data.current.pressure_mb }} mb</td>
                            <td>{{ weather_data.current.vis_km }} km</td>
                            <td>{{ weather_data.current.gust_kph }} kph</td>
                            <td>{{ weather_data.current.precip_mm }} mm</td>
                        </tr>
                        <tr>
                            <td>{{ weather_data.current.temp_f }}°F</td>
                            <td>{{ weather_data.current.feelslike_f }}°F</td>
                            <td>{{ weather_data.current.wind_mph }} mi/h</td>
                            <td>{{ weather_data.current.pressure_in }} in</td>
                            <td>{{ weather_data.current.vis_miles }} miles</td>
                            <td>{{ weather_data.current.gust_mph }} mph</td>
                            <td>{{ weather_data.current.precip_in }} inches</td>
                        </tr>
                    </tbody>
                </table>
                <p>Wind Direction: {{ weather_data.current.wind_dir }}, Humidity: {{ weather_data.current.humidity }}, Cloudy: {{ weather_data.current.cloud }}</p>
            </div>
        </div>
            <div class="forecast-table-container">
                <table class="forecast-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Avg C</th>
                            <th>Min C</th>
                            <th>Max C</th>
                            <th>Avg F</th>
                            <th>Min F</th>
                            <th>Max F</th>
                            <th>Summary</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for day in second_api_data.forecast %}
                        <tr>
                            <td>{{ day.date }}</td>
                            <td>{{ day.avg_c }}</td>
                            <td>{{ day.min_c }}</td>
                            <td>{{ day.max_c }}</td>
                            <td>{{ day.avg_f }}</td>
                            <td>{{ day.min_f }}</td>
                            <td>{{ day.max_f }}</td>
                            <td>{{ day.summary }}<img src="{{ url_for('static', filename='weather-icons/' + day.icon) }}" alt=f"{{day.icon}}"></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
        </div>




</body>
</html>

<!---->